
 
root { 
    display: block;
}

.root {
     -fx-background-image: url("come1.jpg");
}

#welcome-text {
   -fx-font-size: 50px;
   -fx-font-family: "Arial Black";
   -fx-fill: cyan;
   -fx-effect:dropshadow( gaussian , rgba(0,0,0,100) , 0,0,0,1 );
}

#title {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #210284;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#user {
   -fx-fill: cyan;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#ps {
   -fx-fill: cyan;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#actiontarget {
  -fx-fill: cyan;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}